<!doctype html>
<html>
<head>
    <title>Massage Massage Massage</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
    <div class="page-header text-center">
        <h1>Massage Massage Massage</h1>
        <h2><%= err %><h2>
    </div>
</body>
</html>
